.ProfesionalBox {
    margin: 0 auto;
}

.ProfesionalBox:hover {
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    cursor: pointer; 
    border: 2px solid lightblue;
    border-radius: 5px;
}

.ProfesionalBox .Content {
    height: 0px;
    color: transparent;
}

.ProfesionalBox:hover .Content {
    height: auto;
    color: #000000;
}