.LetraPagina {
  font-family: "Muli", sans-serif;
}

.LogoHeader {
  font-family: 'Chivo', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  color: #17a2b8;
}

.LogoHeader:hover {
  color: #97BAD3
}

.LogoFooter {
  font-family: 'Chivo', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.Degrade {
  background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ddefbb,
    #ffeeee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ddefbb,
    #ffeeee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.LinkItem {
  display: flex;
  vertical-align: 'middle';
  margin-top: 0.5px;
}

.LinkItem:hover {
  text-decoration: none;
}

.Active {
  color: #17a2b8;
  font-weight: bold;
}