* {
  font-family: "Muli", sans-serif;
}

.LogoFooter {
  font-family: 'Chivo', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.FotoUno {
  top: 10%;
  right: 10%;
  position: absolute;
  color: #ffffff;
  text-align: left;
  text-justify: distribute;
}

.TextoHome {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.FotoDos {
  top: 10%;
  left: 7%;
  position: absolute;
  color: #ffffff;
  text-align: left;
  text-justify: distribute;
}

.Degrade {
  background: #ffeeee; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ddefbb,
    #ffeeee
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ddefbb,
    #ffeeee
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.LinkItem {
  display: flex;
  vertical-align: 'middle';
  margin-top: 0.5px;
}

.LinkItem:hover {
  text-decoration: none;
}

.Active {
  font-weight: bold;
}

@media screen and (max-width:640px) {
  .TextoHome {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 12px;
  }

  .FotoUno {
    font-size: 10px;
    height: 60px;
    width: 200px;
  }

  .FotoDos {
    font-size: 10px;
    height: 60px;
    width: 200px;
  }

  .btn {
    font-size: 10px;
    width: 70%;
    height: 80%
  }
}